@using Microsoft.AspNetCore.Identity
@model RazorLibraryProject.Models.Book

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html><body>
<div class="form-group">
    <input type="submit" value="Checkout" class="btn btn-primary" formmethod="post" />
    <a asp-action="Checkout" asp-route-id="@Model?.Id">Edit</a>
    </div>
</body>
</html>