@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We could pretend you have privacy, but the internet sees all, hears all, and knows all, so just don't plan any crimes on our network.
    Oh, and we already gave your phone number and email address to lots of spammers. Now go read a book! (Reading a book is implicit
    acceptance of the above-mentioned details.)</p>
